<!DOCTYPE html>
<html>

<head>

  <script type=text/javascript src="{{url_for('static', filename='interactive_mouse.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}"></link>

  <title>Homepage</title>
</head>

<body>

  <div id="mainContainer">

    <div id="tagline">
      <h1>MouseCase 0.1</h1>
    </div>
    <!--end of tagline-->

    <div id="navigation">
      <!--navigation Bar-->
      <ul>
        <li>ABOUT</li>
        <li><a href="material.html">Material/PRODUCTION</li>
  <li><a href="research.html">Research</a></li>
        <li><a href="reference.html">REFERENCE</a></li>
      </ul>
    </div>
    <!--end of navigation Bar-->
    <h2> The Concept </h2>

    <p> A bluetooth phonecase with mouse features built-in that works both as <br> a regular phone case and computer mouse, making it a convenient <br> accessory to carry-around in everyday lives.</p>

    <hr>
    <h2> The inspiration </h2>

    <p> Computer mouse is an essential item to designers. However, it tends to be built in bulk and is inconvenient to bring around. Resulting a minor burden to designers. Hence, the concept of the MouseCase aims to target this problem by merging the computer
      mouse into a phonecase as in this century our phones are always around us. Thus, introducing the concept of MouseCase 0.1.

  </div>
  <!--end of mainContainer-->


</body>

</html>
