<!DOCTYPE html>
<html>

<head>

  <script type=text/javascript src="{{url_for('static', filename='rocket.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}"></link>

  <title>Reference Page</title>
</head>

<body>
  <div id="mainContainer">

    <div id="tagline">
      <h1>MouseCase 0.1</h1>
    </div>

    <div id="navigation">
      <!--navigation Bar-->
      <ul>
        <li><a href="/">About</li>
        <li><a href="material.html">MATERIAL/PRODUCTION</a></li>
        <li><a href="research.html">RESEARCH</li>
        <li>REFERENCE</li>
      </ul>
    </div><!--end of navigation Bar-->

    <img src="/static/mousecase.jpg" style="width:600px;height:450px;border:0;">

<h2>Resources</h2>

<a href="https://en.wikipedia.org/wiki/Computer_mouse "> Function of Mouse</a>

<a href="https://vashishthakapoor.com/types-of-computer-mouse/ "> Types of Computer Mouse</a>

<a href="https://www.instructables.com/id/Interfacing-With-a-Mouse-Sensor-ADNS-3050/ "> Mouse Sensor</a>

<a href="https://computer.howstuffworks.com/question631.htm ">Optical Mouse Function</a>

<a href="https://www.digitaltrends.com/computing/optical-vs-laser-mouse-explanation/ "> Optical Mouse Function</a>

<a href="http://www.stickpng.com/img/electronics/computer-mice/blue-black-computer-mouse "> Mouse Image</a>

<a href="https://www.pinterest.com/snowkisling/electronics-technician/"> Mouse Image</a>



  </body>

  </html>
